---
import { generoPorProducto, tiposProducto } from "@/lib/tiposProductos";
const { producto, genero } = Astro.params;


const listGeneros = generoPorProducto[producto];
const listTipos = tiposProducto[producto];
---

<div class="flex flex-row items-center gap-4">
          <h2 class="text-xl border-r-2 border-purple-900 pr-4">
            {producto.toUpperCase()}
          </h2>
          <div>
            <ul>
              {listGeneros.map((gen) => (
                <li class="inline-block mr-4">
                  <a
                    href={`/productos/${producto}/${gen}/${tipo}/1`}
                    class={`text-lg font-semibold text-purple-900 hover:underline ${gen === genero && "font-bold"}`}
                  >
                    {gen.toUpperCase()}
                  </a>
                </li>
              ))}
            </ul>
                        <ul>
              {listTipos.map((type) => (
                <li class="inline-block mr-4">
                  <a
                    href={`/productos/${producto}/${genero}/${type}/1`}
                    class={`text-lg font-semibold text-purple-900 hover:underline ${type === genero && "font-bold"}`}
                  >
                    {type.toUpperCase()}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </div>

<script>
    window.addEventListener('scroll', () => {
        const sub = document.getElementById('subnav');
        if (!sub) return;
        if (window.scrollY > 0) {
            sub.classList.add('mt-[96px]');
            sub.classList.remove('mt-[170px]');
        } else {
            sub.classList.add('mt-[170px]');
            sub.classList.remove('mt-[96px]');
        }
    });
</script>